   * {
       padding: 0;
       margin: 0;
   }

   body {
       font-family: Arial, Helvetica, sans-serif;
       background-color: gray;
   }

   /*Header-Section */
   .navbar {
       height: 20vh;
       display: flex;
       justify-content: space-between;
       padding: 1rem 2rem;
       background-color: gray;
       font-weight: bold;
       border-bottom: 1px solid black;

   }

   .logo {
       display: flex;
       gap: 10px;
   }

   .nav-links {
       display: flex;
       list-style: none;
   }

   .nav-links li {
       margin-left: 20px;
   }

   .nav-links a {
       text-decoration: none;
       color: black;
       transition: color 0.3s;
   }

   .nav-links a:hover {
       color: white;
   }

   .hamburger {
       display: none;
       font-size: 1.8rem;
       cursor: pointer;
   }

   /* Mobile styles*/
   @media (max-width: 768px) {
       .nav-links {
           display: none;
           position: absolute;
           top: 60px;
           right: 0;
           background-color: #333;
           flex-direction: column;
           width: 200px;
           text-align: center;
       }

       .nav-links li {
           margin: 15px 0;
       }

       .hamburger {
           display: block;
           /* show hamburger*/
       }


       /* When active class is added, show menu */
       .nav-links.active {
           display: flex;
       }
   }

   @media (max-width: 768px) {
       .logo {
           flex-wrap: wrap;
       }
   }

   /*Main-Section*/

   #home {
       width: 100vw;
       height: 40vh;
       display: flex;
       justify-content: space-evenly;
       margin-top: 80px;
   }

   .ist {
       height: 40vh;
       width: 40vw;
       font-weight: 500;
   }

   .second {
       height: 20vh;
       width: 30vw;
       background-color: black;
       color: white;
       border-radius: 10px;
       border: 1px solid white;
   }

   .ist button {
       border-radius: 10px;
       padding: 5px;
       border: 1px solid white;
   }

   .btn {
       padding: 10px;
       background-color: black;
       border-radius: 10px;
       cursor: pointer;
   }

   .btn a {
       color: white;
       font-weight: bold;
       text-decoration: none;
   }


   /*Skills*/
   #skills {
       height: 10vh;
       width: 80vw;
       margin: auto;
       margin-top: 100px;
   }

   .skillsbtn {
       width: 80vw;
       height: 10vh;
       background-color: black;
       border: 1px solid white;
       border-radius: 10px;

   }

   .skillsbtn button {
       padding: 5px;
       color: black;
       background-color: grey;
       border-radius: 10px;
       margin-left: 20px;
       margin-top: 15px;
       border: 1px solid white;
   }


   /*Projects*/
   #grid {
       height: 80vh;
       width: 80vw;
       margin: auto;
       margin-top: 100px;
   }

   .gridcard {
       width: 80vw;
       height: 80vh;
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       gap: 10px;
   }

   .gridcard div {
       background-color: black;
       border: 1px solid white;
       width: 40vw;
       height: 33vh;
       border-radius: 10px;
       color: white;
   }

   .gridcard div h2 {
       margin-top: 10px;
       margin-left: 20px;
   }


   .gridcard div p {
       margin-top: 10px;
       margin-left: 20px;
   }


   .gridcard div button {
       margin-top: 10px;
       padding: 10px;
       border-radius: 20px;
       margin-left: 20px;
       border: 1px solid white;
   }


   /*Certificates*/
   #certificates {
       height: 10vh;
       width: 80vw;
       margin: auto;
       margin-top: 200px;
   }

   .certificatesul {
       width: 80vw;
       height: 10vh;
       background-color: black;
       color: white;
       border: 1px solid white;
       border-radius: 10px;
   }

   .certificatesul ul {
       margin-top: 10px;
       margin-left: 30px;
   }

   .certificatesul a {
       text-decoration: none;
       color: blue;
   }


   /*Contact*/
   #contact {
       height: 10vh;
       width: 80vw;
       margin: auto;
       margin-top: 50px;
   }

   .contactbtn {
       width: 80vw;
       height: 15vh;
       background-color: black;
       color: white;
       border: 1px solid white;
       border-radius: 10px;
   }

   .contactbtn p {
       margin-top: 20px;
       margin-left: 20px;
   }

   .contactbtn button {
       margin-top: 10px;
       margin-left: 30px;
       padding: 10px;
       border-radius: 10px;
       border: 1px solid blue;
   }

   .contactbtn a {
       color: blue;
       text-decoration: none;
       font-weight: bold;
   }

   .foot {
       height: 20vh;
       margin-top: 100px;
       border-top: 1px solid black;
   }

   .foot p {
       text-align: center;
       margin-top: 50px;
       font-weight: bold;
   }